<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sleapy.project.mappers.OrderStatusMapper">

    <!-- Result map for OrderStatus -->
    <resultMap id="OrderStatusResultMap" type="com.sleapy.project.models.entities.OrderStatus">
        <id column="OrderStatus_ID" property="id"/>
        <result column="OrderStatus_Name" property="name"/>
    </resultMap>

    <!-- Find order status by ID -->
    <select id="findById" parameterType="Long" resultMap="OrderStatusResultMap">
        SELECT OrderStatus_ID, OrderStatus_Name
        FROM Order_Status
        WHERE OrderStatus_ID = #{id}
    </select>

    <!-- Get all order statuses -->
    <select id="findAll" resultMap="OrderStatusResultMap">
        SELECT OrderStatus_ID, OrderStatus_Name
        FROM Order_Status
        ORDER BY OrderStatus_ID ASC
    </select>

    <!-- Insert new order status -->
    <insert id="save" parameterType="com.sleapy.project.models.entities.OrderStatus" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Order_Status (OrderStatus_Name)
        VALUES (#{name})
    </insert>

    <!-- Update order status -->
    <update id="update" parameterType="com.sleapy.project.models.entities.OrderStatus">
        UPDATE Order_Status
        SET OrderStatus_Name = #{name}
        WHERE OrderStatus_ID = #{id}
    </update>

    <!-- Delete order status by ID -->
    <delete id="deleteById" parameterType="Long">
        DELETE FROM Order_Status WHERE OrderStatus_ID = #{id}
    </delete>

</mapper>
